* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: "Teko", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.app {
  width: 80%;
}

.serch-input {
  margin-top: 2rem;
}
