* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: 'Teko', sans-serif;
}

html,
body {
  height: 100%;
}

main {
  flex: 1;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 90%;
}

.serch-input {
  margin-top: 2rem;
}
img {
  width: 100%;
  height: auto;
  object-fit: 'contain';
}

/* Favorite countrie page */
.main-heading {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Footer {
  margin-top: auto;
}

.map-container {
  flex-grow: 1;
  overflow: hidden;
}
