* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: "Teko", sans-serif;
}

html {
  scroll-behavior: smooth;
}


.App {
  text-align: center;
}

/* Header starts here */

/* header {
  height: 10vh;
} */

/* Headder ends here */

/* Main starts here */
/* main {
  height: 80vh;
} */

/* Main ends here */


/* Footer starts here */
/* footer {
  height: 10vh;
} */

/* Footer ends here */
/* Index.css */
